<%- include('partials/header') %>

<div class="container-fluid bg-dark">
    <div class="row">
        <%- include('partials/sidebar', { page_name: 'Home' }) %>
        <div class="col-sm-10">
            <!-- Start Main Content -->
            <div class="mt-5">
                <div class="text-center">
                    <img src="/image/pic.jpg" alt="Himanshu" width="250px" height="150px" class="img-thumbnail">
                </div>
                <div class="mt-5 mx-5 text-white text-justify">
                    <h1 class="fw-bold">Hello,</h1>
                    <div class="px-4" style="line-height: 2rem;">
                        <p style="text-indent: 100px;">I am <b class="text-warning">Himanshu yadav</b> having 8+ years of
                         full-stack web development experience for global businesses, I offer the technical expertise you
                         are seeking for your web developer position.                       
                        </p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus maxime dolore a unde tenetur consequatur atque error reprehenderit quasi corporis tempora necessitatibus sit, doloribus aperiam cumque distinctio magni dignissimos earum enim laboriosam pariatur. Vitae sunt eius velit iste rerum quibusdam iusto, modi obcaecati, adipisci porro ut ex assumenda nulla qui.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tenetur fugiat eaque culpa, dignissimos aspernatur molestias maxime aperiam commodi voluptate autem debitis? Expedita, eveniet quos rem sed sequi quis, omnis libero, vitae repudiandae vero eum explicabo porro assumenda ex. Nemo nesciunt fuga libero dolorum ex, inventore obcaecati dicta provident officia?</p>
                    </div>
                </div>
                <div class="text-center">
                    <a href="/contact" class="btn btn-outline-warning mx-5 my-3">Hire Me</a>
                    <a href="/contact" class="btn btn-outline-info">Contact</a>
                </div>
            </div>
            <!-- End Main Content -->
        </div>
    </div>
</div>
    
<%- include('partials/footer') %>